* {
  margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5faff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
}

/* Header site */

.header {
  grid-area: 1/1/1/3;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #000066;
}

#h1-id {
  margin-top: 1em;
  color: lightblue;
  text-decoration: underline;
}

#addNew {
  align-self: end;
  padding: 1em;
  margin: 2em 4em 2em 0;
  border-radius: 1.5em;
  border: none;
  background-color: #add8e6;
  font-size: 1.1rem;
  color: #000066;
  cursor: pointer;
}

#addNew:hover {
  background-color: #baedff;
}

#addNew:active {
  background-color: #ccffff;
}

/* main side */

.container {
  grid-area: 2/1/4/3;
  grid-template-rows: auto-fit;
  background-color: #f5faff;
}

.blocks {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, minmax(220px, 400px));
  gap: 1em;
  margin: 2em 10em 2em 10em;
  grid-auto-rows: auto-fit;
}

.block {
  background-color: #add8e6;
  padding: 1.5em;
  border-radius: 2em;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  word-break: break-word;
  overflow-wrap: anywhere;
  position: relative;
}

.delete-btn {
  cursor: pointer;
  color: #000066;
  align-self: end;
  margin-right: 0.2em;
}

#delete-form-btn {
  cursor: pointer;
  color: #000066;
  align-self: end;
  margin-right: 0.2em;
}

#delete-btn:hover {
  color: red;
}

#delete-btn:active {
  color: #ff3385;
}

.titleBook {
  color: #000066;
  padding-bottom: 0.5em;
  margin: 0.5em 0 0.5em 0;
}

.authorBook {
  color: #000066;
  padding-bottom: 0.5em;
  margin: 0.5em 0 0.5em 0;
}

.pagesBook {
  color: #000066;
  padding-bottom: 0.5em;
  margin: 0.5em 0 0.5em 0;
}

.read-btn {
  background-color: #000066;
  border: none;
  color: #add8e6;
  margin:  0 0.5em 0 0;
  padding: 0.7em;
  border-radius: 1em;
  cursor: pointer;
  max-width: 6em;
  align-self: end;
  position: absolute;
  bottom: 1em;
}

#read-btn:hover {
  background-color: #4d4d94;
  color: #c6e4ee;
}

#read-btn:active {
  background-color: #000033;
}

/* footer side */

.footer {
  grid-area: 4/1/5/3;
  background-color: #000066;
  color: #add8e6;
  text-align: center;
  padding: 2em 0;  
  text-decoration: underline;
  width: 100%;
}

/* input side */

#legend {
  font-weight: 700;
  font-size: 1.2rem;
  margin-left: 1em;
  margin-bottom: 1em;
  color: #00663c;
}

.allForm {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  margin-bottom: 1em;
  border-radius: 2em;
  background-color: #e2f1f6;
  border: 5px solid #00663c;
  position: absolute;
  top: 30%;
  right: 25%;
  width: 50%;
}

.allLabels {
  margin-left: 1em;
  margin-top: 1em;
  display: flex;
  color: #000066;
}

.allInputs {
  border-radius: 0.5em;
  padding: 0.5em;
  color: #000066;
}

.submit-btn {
  margin: 2em 1em 1em 1em;
  width: 10em;
  align-self: center;
  border: none;
  border-radius: 3em;
  padding: 0.5em;
  font-size: 1.3rem;
  background-color: #000066;
  color: #add8e6;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #4d4d94;
  color: #c6e4ee;
}

.submit-btn:active {
  background-color: #000033;
}
